graft docs
graft helics
graft tests

include LICENSE
include README.md
recursive-include helics/install *.h
recursive-include helics/install *.dll
recursive-include helics/install *.dylib
recursive-include helics/install *.so
