site_name: PyHELICS

repo_url: "https://github.com/GMLC-TDC/pyhelics/"
edit_uri: ""

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - API: api/index.md
  - Pythonic API: pythonic-interface.md
  - CLI Interface: cli-interface.md
  - Web Interface (experimental): web-interface.md
  - Migration v2 -> v3: migration-helics2-helics3.md

theme:
  name: "material"
plugins:
  - search
  - inari:
      module: helics
      out-name: api
markdown_extensions:
  - toc:
      toc_depth: 3
      permalink: True
  - smarty
  - codehilite:
      linenums: true
  - admonition
  - smarty
  - wikilinks
  - codehilite:
      linenums: True
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: True
  - pymdownx.tilde
